:root {
  --pink: #F13C6E;
  --grey: #EFEFEF;
  --dark: #333333;
  --mobile-padding: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.transparent-button {
  
  padding: 10px 30px;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  /* line-height должно быть относительно размера шрифта, чаще всего 1.2 */
  color: var(--dark);
  background-color: transparent;

}

.filled-button {
  text-decoration: none;
  padding: 9px 40px;
  color: white;
  font-size: 12px;
  line-height: 28px;
  background: var(--pink);
  border-radius: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.inverse-button {
  padding: 13px 26px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  background-color: transparent;
  font-size: 14px;
  color: #ffffff;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1110px + var(--mobile-padding));
  padding: 0 var(--mobile-padding);
}

img {
  display: block;
  max-width: 100%;
}

/* Burger */

.burger {
  display: none;
}

@media screen and (max-width: 540px) {
  .burger {
    display: block;
    width: 40px;
  }
}

.burger__icon {}

/* Input search */

.input-search {
  position: relative;
}

.input-search__img {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}

.input-search__field {
  display: block;
  margin: 0;
  font-weight: 400;
  background-color: var(--grey);
  border: none;
  border-radius: 40px;
  /* очень важный момент про строки поиска */
  max-width: 250px;
  width: 100%;
  /* очень важный момент про строки поиска */
  height: 40px;
  padding-left: 50px;
}

/* Header */

.header {}

.header__menu-wrap {
  background-color: var(--grey);
}

.header__nav {
  padding: 17px 0;
  margin: 0 -15px;
}

@media screen and (max-width: 560px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding-right: 10px;
  }
}

.header__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

@media screen and (max-width: 560px) {
  .header__menu {
    display: none;
  }
}

.header__menu_active {
  display: none;
}

@media screen and (max-width: 560px) {
  .header__menu_active {
    display: block;
  }

}

.header__menu-link {
  text-decoration: none;
  color: var(--dark);
  text-align: center;
}

.header__menu-link_active {
  color: red;
}

.header__menu-item {
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.header__search-wrap {
  border-bottom: 1px solid var(--grey);
}

.header__search-pannel {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}

@media screen and (max-width: 1145px) {
  .header__search-pannel {
    margin: 0;
    flex-direction: column;
  }
}

.header__logo-wrap {}

@media screen and (max-width: 1145px) {
  .header__logo-wrap {
    margin-bottom: 10px;
  }
}


.header__logo-img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.header__logo-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--pink);
  text-transform: uppercase;
}

.header__logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* kfdkkfkdf */
@media screen and (max-width: 1145px) {
  .header__search {
    margin-bottom: 10px;
  }
}

.phone-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: var(--dark);
}
  /* line-height должно быть относительно размера шрифта, чаще всего 1.2 */
/* .recall-button {
  padding: 10px 30px;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: var(--dark);
  background-color: transparent;
} */

.header_categories {
  padding: 30px 0;
}

.header_categories_mobile {
  display: none;
}

@media screen and (max-width: 1145px) {
  .header_categories {
    display: none;
  }

  .header_categories_mobile {
    display: block;
    padding: 30px 0;
  }

  .header__categories-list_mobile {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .header__categorie-link_mobile {
    text-decoration: none;
    color: var(--dark);
  }
}

.header__categories-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.header__categorie-item:not(:last-child) .header__categorie-link {
  margin-right: 30px;
}

.header__categorie-link {
  text-decoration: none;
  color: var(--dark);
}

/* Promo */
.promo {
  background-image: url(./body_img/main_theme.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 193px 0;
}

.promo__info {
  color: #FFFFFF;
  font-family: Roboto;
}

.promo__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 1145px) {
  .promo__title {
    text-align: center;
  }
}

.promo__desc {
  max-width: 308px;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 1145px) {
  .promo__desc {
    margin: 0 auto 50px;
    max-width: 80%;
  }
}

.more-info {
  display: block;

}

@media screen and (max-width: 1145px) {
  .more-info {
    margin: 0 auto;
  }
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--dark);
  margin: 0;
  margin-bottom: 38px;
}

.products {
  padding: 80px 0 0 0;
  background-color: var(--grey);
}

.products__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.product__menu-item {
  text-align: center;
  padding: 25px 30px;
  background: white;
  margin: 10px 15px;
  flex-basis: calc(100%/4 - 30px);
}

@media screen and (max-width: 920px) {
  .product__menu-item {
    flex-basis: calc(100% / 3 - 30px);
    padding: 20px 20px;
  }
}

@media screen and (max-width: 540px) {
  .product__menu-item {
    flex-basis: calc(100% - 30px);
  }
}

.product__menu-item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.product__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__list h3 {
  margin: 0;
  max-width: 195px;
  width: 100%;
  /* при работе с текстом нужно использовать max-width и width 100% если нужно. */
  font-size: 14px;
  text-align: center;
  color: var(--dark);
  margin-bottom: 20px;
}

.product__price {
  margin: 0;
  color: #000000;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.05em;
}

.product__button {}

.bonus {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--grey);
}

.bonus__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  flex: 0 0 calc(100%/2 - 60px);
}

@media screen and (max-width: 540px) {
  .bonus__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.bonus__card-item {
  background-color: var(--pink);
  padding: 35px 45px 35px 40px;
  display: flex;
  align-items: center;
  flex-basis: calc(100%/2 - 30px);
  margin: 0 15px;
}

@media screen and (max-width: 1145px) {
  .bonus__card-item {
    display: block;
  }
}

@media screen and (max-width: 540px) {
  .bonus__card-item {
    flex-basis: calc(100% - 30px);
    margin-bottom: 20px;
  }
}

.bonus__card-info {
  color: #FFFFFF;
  margin-right: 65px;
  max-width: 250px;
}

@media screen and (max-width: 1145px) {
  .bonus__card-info {
    color: #FFFFFF;
    margin-right: 65px;
    margin-bottom: 20px;
    max-width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .bonus__card-info {
    margin-right: 0;
  }
}

.bonus__card-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-bottom: 25px;
}

.bonus__card-descr {
  font-size: 14px;
  max-width: 230px;
  margin: 0;
  margin-bottom: 25px;
}

.bonus__input {
  padding: 9px 104px 9px 25px;
  border: none;
  background: #FFFFFF;
  border-radius: 30px;
  max-width: 225px;
  width: 100%;
}

::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #C4C4C4;
}

.bonus__map {
  display: block;
  padding: 13px 26px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  background-color: var(--pink);
  font-size: 14px;
  color: #ffffff;
}

.impuls__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.impuls__card {
  padding: 35px 60px;
  border: 1px solid var(--grey);
  border-bottom: none;
}

.recently-view {
  padding: 80px 0;
  background-color: var(--grey);
}

.footer__categories {
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 1145px) {
  .footer__categories {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .footer__categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .footer__categories {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer__category-name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 30px;
  margin-bottom: 25px;
  border-bottom: 2px solid var(--grey);
  max-width: 255px;
  width: 100%;
}

@media screen and (max-width: 1145px) {
  .footer__category-name {
    font-size: 14px;
  }
}

.footer__categories-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__category-item-link {
  text-decoration: none;
  color: #828282;
  font-size: 12px;
  line-height: 28px;
}

.footer-wide {
  border-top: 2px solid var(--grey);
}

.footer__company {
  display: flex;
  padding: 37px 0;
  align-items: center;
}

@media screen and (max-width: 1145px) {
  .footer_company {
    flex-direction: column;
  }
}

.footer__socials {
  display: flex;
}

@media screen and (max-width: 1145px) {
  .footer__socials {
    margin: 0 0 15px;
  }
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-link {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
}

.footer__social-img-fb {
  width: 10.8px;
}

.footer__social-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.footer__address {
  margin-left: auto;
  margin-right: 105px;
}

@media screen and (max-width: 1145px) {
  .footer__address {
    margin: 0 0 15px;
  }
}

.footer__address-link {
  text-decoration: none;
}

.footer__phone {
  margin-right: 40px;
}

@media screen and (max-width: 1145px) {
  .footer__phone {
    margin: 0 0 15px;
  }
}

.footer__button {}

@media screen and (max-width: 1145px) {
  .footer__button {
    margin: 0 0 15px;
  }
}

.footer__privacy {
  background-color: var(--grey);
  padding: 25px 0;
  color: #828282;
  font-size: 12px;
}

.footer__privacy-info {
  display: flex;
  justify-content: space-between;
}

.footer__rigths {
  text-decoration: none;
}

.footer__private-policy {
  text-decoration: none;
}

/* 
@media screen and (max-width: 1145px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 540px) {} */